.landing-left {
    transform: translateY(50%);
  }
  
.landing-text h1 {
  font-size: 1.5vw;
  font-weight: 600;
}
  
.landing-text p {
  margin-bottom: 5vh;
  font-size: 0.80vw;
}
  
.landing-right {
  transform: translateY(20%);
}
  
.landing-img {
  height: auto;
  max-width: 120%;
}
  
#browse-organizations {
  background-color: #555555;
  color: white;
  border-style: hidden;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 0.80vw;
}
  
#submit-a-goal {
  border: 1px solid #555555;
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.80vw;
}