* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 100px;
  align-items: center;
  font-family: 'OpenSans';
  background-color: #F4F4F4;
}
  
nav li {
  list-style-type: none;
}
  
.navbar-links a {
  text-decoration: none;
  font-size: 0.9vw;
  color: black;
}
  
.navbar-links a:hover {
  text-decoration: none;
  border-bottom: 3px solid #6466AE;
}

nav #logo {
  font-size: 1.70vw;
  font-weight: 400;
  font-family: 'Fredoka One', cursive;
  text-decoration: none;
  color: black;
}
  
nav .navbar-links {
  display: flex;
  justify-content: space-around;
  width: 25%;
  /*margin-right: -1.3vw;*/
}
