h1.thank-donator, h4.ship-label, p.org-details, p.instructions, h4.summary-label {
  margin-left: 15.9%;
}

h1.thank-donator {
  font-size: 1.3vw;
  font-weight: 600;
  padding: 1% 0%;
  margin-bottom: 0%;
}

h4.ship-label, p.org-details, p.instructions, h4.summary-label {
  font-size: 0.9vw;
}

h4.ship-label {
  padding-top: 1vw;
}

p.org-details {
  margin-left: 17%;
}

p.instructions {
  padding-top: 0.8%;
}

a {
  text-decoration: underline;
  color: #0000EE;
}

a:visited {
    color: #551A8B;
}

.cancel-button {
  background-color: #555555;
  color: white;
  border-style: hidden;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 0.9vw;
}

.browse-button {
  border: 1px solid #555555;
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9vw;
}

#confirm-buttons {
  margin-left: 15.9%;
  padding-top: 1vw;
}

.device-list {
  font-size: 0.9vw;
  margin-left: 17%;
}