.form-flex h1 {
  font-size: 1.3vw;
  font-weight: 600;
  margin-left: -0.3%;
  padding: 1% 0%;
}

.form {
  padding-left: 16.2%;
}

.form-row {
  font-size: 0.9vw;
  padding-bottom: 0.50%;
}

.label-text {
  font-size: 0.9vw;
  font-weight: 600;
  padding-bottom: 0.2vw;
}

input, textarea {
  padding: 0% 1% 0%;
}

.city-state {
  margin-left: -0.3%;
}

.city-state label {
  padding-right: 1.25vw;
  padding-bottom: 0.50%;
}

input#city, input#state {
  font-size:0.9vw;
}

.form-flex button {
  background-color: #555555;
  color: white;
  border-radius: 5px;
  font-size: 0.9vw;
  padding: 0.5%;
  margin-left: -0.3%;
  border-style: hidden;
}

.org-name-type {
  display: flex;
}

.org-name-type .form-row {
  padding-right: 1.25vw;
}

#name {
  width: 15vw;
}

#address {
  width: 20vw;
}

#phone {
  width: 7vw;
}

.device-types {
  display: grid;
}

.device-types input[type="checkbox"] {
  margin-right: 0.3vw;
}

::placeholder, span#type, select#myList, textarea#description, input#goal {
  font-weight: 100;
}

select#myList {
  padding-right: 0.2vw;
}